    <h4> Estudio </h4>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Nombre y Apellido</label>
        <input class="form-control form-control-sm" id="formFileSm" type="text">
        <button type="button" class="btn btn-primary">Guardar</button>
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Nombre y Apellido</label>
        <input class="form-control form-control-sm" id="formFileSm" type="text">
        <button type="button" class="btn btn-primary">Guardar</button>
    </div>