<!-- Empieza la sección proyecto -->
<section id="proyecto" class="proyecto">
    <div class="container text-center seccion">
        <h2><span class="text-secondary">Proyecto</span></h2>
        <div class="row"  *ngFor="let proyecto of proyectos">
            <div class="col-3">
                <img src="{{proyecto.imgProyecto}}" class="rounded-circle w-75" alt="..." tittle="...">
                <h2><span class="text-secondary">{{proyecto.nombreProyecto}}</span></h2>
                <h2><span class="text-secondary">{{proyecto.institucion}}</span></h2>
                <h2><span class="text-secondary">{{proyecto.anio}}</span></h2>
                <br>
            </div>
            <div class="col-9 mt-4">
                <h5><span class="text-secondary">{{proyecto.descripcionProyecto}}
                </span></h5>
            </div>
        </div>
    </div>
</section>

<br><br>
