<!-- Empieza la sección proyecto -->
<section id="proyecto" class="proyecto">
    <div class="container text-center seccion">
        <h2><span class="text-secondary">Proyecto</span></h2>
        <div class="row d-flex justify-content-center align-items-center"  *ngFor="let proyecto of proyectos">
            <div class="col-10 col-sm-8 col-md-4">
                <img src="{{proyecto.imgProyecto}}" class="rounded-circle w-75" alt="..." tittle="...">
                <h2><span class="text-secondary">{{proyecto.nombreProyecto}}</span></h2>
                <h2><span class="text-secondary">{{proyecto.institucion}}</span></h2>
                <h2><span class="text-secondary">{{proyecto.anio}}</span></h2>
                <br>
            </div>
            <div class="col-10 col-sm-8 col-md-8">
                <h5><span class="text-secondary">{{proyecto.descripcionProyecto}}</span></h5>
                <a target="_blank" type="button" class="btn btn-primary" href="{{proyecto.linkProyecto}}">Repositorio GitHub</a>
            </div>
        </div>
    </div>
</section>

<br><br>
