    <h4> Experiencia Laboral </h4>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Título del Puesto</label>
        <input class="form-control form-control-sm" id="formFileSm" type="text">
        <button type="button" class="btn btn-primary">Guardar</button>
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Descripción del Puesto</label>
        <textarea class="form-control form-control-sm" id="formFileSm" type="text"></textarea>
        <button type="button" class="btn btn-primary">Guardar</button>
    </div>