<!-- Empieza la sección eduación -->
<section id="Educación" class="educacion">
    <div class="container text-center seccion">
        <div class="row">
            <div class="col-3">
                <br><h2><span class="text-secondary">Educación</span></h2>
            </div>
            <div class="col-9 mt-4" *ngFor="let estudio of estudios">
                <h5><span class="text-secondary">Curso: {{estudio.imgCurso}}, {{estudio.tituloCurso}}, 
                        {{estudio.anio}}.
                    </span>
                </h5>
            </div>
        </div>
    </div>
</section>

<br><br>