<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/Logo Argentina Programa.png" class="main-logo" alt="Logo de Argentina Programa" >
        </a>
        <ul class="list-group list-group-horizontal">
            <app-redes></app-redes>
            <app-boton-login *ngIf="!logueado"></app-boton-login>
            <app-boton-logout *ngIf="logueado"></app-boton-logout>
        </ul>
    </div>
</nav>

<!-- <app-login></app-login> -->