<nav class="navbar navbar-expand-md bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/Logo Argentina Programa.png" class="main-logo" alt="Logo de Argentina Programa">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li *ngIf="index" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Secciones
        </a>
        <ul class="dropdown-menu" *ngFor="let persona of personas"> 
          <li (click)="redirect('/#sobre_mi')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><a class="dropdown-item" href="">Sobre Mí</a></li>
          <li (click)="redirect('/#educacion')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><a class="dropdown-item" href="">Educación</a></li>
          <li (click)="redirect('/#experiencia')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><a class="dropdown-item" href="">Experiencia</a></li>
          <li (click)="redirect('/#habilidades')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><a class="dropdown-item" href="">Habilidades</a></li>
          <li (click)="redirect('/#proyecto')" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><a class="dropdown-item" href="">Proyectos</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{persona.linkCV}}" target="_blank">Descargar CV</a></li>
        </ul>
      </li>
    </ul>
    <button *ngIf="logueado && index" type="button" class="btn btn-outline-light" routerLink='dashboard'>
      Dashboard
    </button>
    <button *ngIf="logueado && !index" type="button" class="btn btn-outline-light" routerLink=''>
      Index
    </button>
    <app-redes class="redes-horizontal"></app-redes>
    
    <app-boton-login *ngIf="!logueado"></app-boton-login>
    <app-boton-logout *ngIf="logueado"></app-boton-logout>
  </div>
</nav>