i.fa-solid.fa-user-lock.fa-2xl{
    color: rgb(255, 255, 255);
}

i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}