.banner{
    display: flex;
    width: 100%;

}
#img-banner{
    max-height: 15rem;
    object-fit: cover;   
    width: 100%;
    margin-top: 8rem
}

@media screen and (min-width:768px) {
    #img-banner{
        max-height: 20rem;
    }
}