<!-- Empieza la sección sobre mí -->
<section id="sobre_mi">
    <div class="container text-center">
        <div class="row d-flex justify-content-center align-items-center"  *ngFor="let persona of personas">

            <div class="col-10 col-sm-8 col-md-4">
                <img src="{{persona.imgPerfil}}" class="rounded-circle w-75" alt="foto de perfil" tittle="...">
                <h2><span class="text-secondary">{{persona.nombre}} {{persona.apellido}}</span></h2>
                <!-- <h2><span class="text-secondary">Apellido: {{persona.apellido}}</span></h2> -->
                <h2><span class="text-secondary">Edad: {{persona.edad}} años</span></h2>
            </div>
            <div class="col-10 col-sm-8 col-md-8">
                <h5><span class="text-secondary">{{persona.acercaDe}}
                </span></h5>
            </div>
        </div>
    </div>
</section>

<br><br>