<!-- Empieza la sección habilidades -->
<section id="Habilidades" class="habilidades">
    <div class="container text-center seccion">
        <div class="row">
            <div class="col-3">
                <br><h2><span class="text-secondary">Habilidades</span></h2>
            </div>
            <div class="col-9 mt-4">
                <!-- Iteracion sobre la variable de instancia y presentacién de datos mediante interpolacién -->
                <div class="progress mb-3" *ngFor="let progreso of progresos">
                    <div class="progress-bar progress-bar-striped" [ngClass]="progreso.color" role="progressbar" aria-label="Default striped example"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progreso.porcentaje">{{progreso.porcentaje}}% de {{progreso.habilidad}} Completo
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>