<!-- Modal -->
    <!-- El modal lo tuve que poner luego del nav porque sino no me dejaba cambiar las cosas para el login -->
    <app-navbar></app-navbar>

    <!-- Empieza -->
    <section id="Login" class="login">
        <!-- Columnas de página principal -->
        <div class="container-fluid text-center">
                <form [formGroup]="form" name="loginform" (ngSubmit)="onEnviar($event)">
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-sm-10">
                                <!--input type="text" class="form-control" id="staticEmail"-->
                                <input type="email" pattern="[^ @]*@[^ @]*" formControlName="email" class="form-control"
                                    [(ngModel)]="persona.email"
                                    [ngClass]="{'is-invalid': Email.errors && Email.touched, 'is-valid': !Email.errors && Email.touched}"
                                    id="email" value="">
                                <div *ngIf="Email.errors && Email.touched">
                                    <p *ngIf="Email.hasError('required')" class="text-white">
                                        Ingrese su email!!!!!
                                    </p>
                                    <p *ngIf="Email.hasError('email')" class="text-white">
                                        Ingrese un email valido!!!
                                    </p>
                                </div>
                            </div>                            
                        </div>

                        <div class="mb-3 row">
                            <label for="clave" class="col-sm-2 col-form-label">Contraseña: </label>
                            <div class="col-sm-10">
                                <!--input type="password" class="form-control" id="inputPassword"-->
                                <input type="password" formControlName="clave" class="form-control"
                                    [(ngModel)]="persona.clave"
                                    [ngClass]="{'is-invalid': Clave.errors && Clave.touched, 'is-valid': !Clave.errors && Clave.touched}"
                                    id="clave">
                                <div *ngIf="Clave.errors && Clave.touched">
                                    <p *ngIf="Clave.hasError('required')" class="text-white">
                                        La contraseña es requerida!!!
                                    </p>
                                    <p *ngIf="Clave.hasError('minLength(8)')" class="text-white">
                                        La contraseña debe tener al menos caracteres!!!
                                    </p>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="limpiar()">Limpiar</button>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>

                </form>