<app-navbar></app-navbar>

<!-- Empieza -->
<section id="Editable" class="edit">
    <!-- Columnas de página principal -->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-2">
                <app-botones-dashboard></app-botones-dashboard>
            </div>
            
            <!-- Body -->
            <div class="col-9 tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile" tabindex="0">
                    <app-perfil></app-perfil>
                </div>
                <div class="tab-pane fade" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-exp-tab" tabindex="0">
                    <app-experiencia-laboral></app-experiencia-laboral>
                </div>
                <div class="tab-pane fade" id="v-pills-estudio" role="tabpanel" aria-labelledby="v-pills-estudio-tab" tabindex="0">
                    <app-estudio></app-estudio>
                </div>
                <div class="tab-pane fade" id="v-pills-habilidades" role="tabpanel" aria-labelledby="v-pills-habilidades-tab" tabindex="0">
                    <app-mis-hablidades></app-mis-hablidades>
                </div>

                <div class="col-1">
                    
                </div>
                 
            </div>
            <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
        </div>
    </div>
</section>