/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color:rgba(19, 179, 219, 0.24);
}

div.seccion{
    background-color: rgba(255, 0, 64, 0.13);
}

section[id]{
    scroll-margin-top: 8.8rem;
}